*{
    color: #232323;
}

.Container-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

table{
    min-width: 300px;
    width: 50%;
}

tbody{
    display: flex;
    flex-direction: column;
    height: 464px;
    width: 100%;
    overflow-y: scroll;
    
}
th{
    color: rgb(86, 141, 212);
    border-bottom: 1px solid rgb(86, 141, 212);
    padding: 8px;
}

tr{
    padding: 8px;
}


td{
    display:block;
    
    width: 100%;
    padding: 8px;
    border-bottom: 1px solid rgb(230, 230, 230);
}
