*{
  font-family: monospace;
  font-size: 16px;
}

.App {
  text-align: center;
}

.form-keyword{
  padding: 24px;
}

.label-keyword{
  margin-right: 16px;
  color: rgb(86, 141, 212);
}

.input-keyword{
  min-width: 300px;
  padding: 8px;
  margin-bottom: 24px;
  border: none;
  border-bottom: 1px solid #232323;
  transition: border 0.2s ease-in;
}

.input-keyword:hover{
  border-color: rgb(86, 141, 212);
}

.input-keyword:focus{
  outline: 0;
}
